<!DOCTYPE html>
<html lang="en">

<head>
	<% include /metaTag %>
	<link rel="stylesheet" href="<%= content.config.publicPath %>/css/dark-style.css" />
</head>

<body id="body-app">

	<% include /githubCorner %>

	<header class="line has-background-primary"></header>

	<section class="profile section">
		<div class="container">
			<div class="columns">
				<div class="column is-two-fifths">
					<h1 class="title is-size-1"><%= content.data.profile.name %></h1>
					<p class="subtitle"><%= content.data.profile.title %></p>
				</div>
				<div class="column is-2">
					<figure class="image image is-128x128">
						<img alt="Profile photo" class="is-rounded" src="<%= content.data.profile.photo %>" />
					</figure>
				</div>
				<div class="column has-text-grey-light has-text-right-in-desktop">
					<p class="has-text-weight-light">
						<%= content.data.profile.city %>
					</p>
					<p class="has-text-weight-light">
						<%= content.data.profile.phone %>
					</p>
					<p class="has-text-weight-light">
						<%= content.data.profile.mail %>
					</p>

					<% include /socialIcons %>
				</div>
			</div>
		</div>
	</section>

	<div class="hr"></div>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-three-fifths">
					<div class="summary">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							SUMMARY
						</div>
						<div class="wrapper"><%- content.data.summary %></div>
					</div>

					<div class="experience">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							EXPERIENCE
						</div>

						<% content.data.experiences.forEach(function(experience){ %>
						<div class="item">
							<div class="is-size-5">
								<b><%= experience.company %>,</b>
								<span class="has-text-weight-semi-bold">
									<%= experience.location %> — <i><%= experience.title %></i>
								</span>
							</div>
							<div class="is-size-7 tag is-primary"><%= experience.period %></div>
							<% if (experience.jobdesc.length > 0) { %>
							<ul style="list-style: disc; margin-left: 1em">
								<% experience.jobdesc.forEach(function(job){ %>
								<li><%= job %></li>
								<% }); %>
							</ul>
							<% } %>
						</div>
						<% }); %>

					</div>

					<div class="education">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							EDUCATION
						</div>

						<% content.data.educations.forEach(function(education){ %>
						<div class="item">
							<div class="is-size-5">
								<b><%= education.name %></b>,
								<span class="has-text-weight-semi-bold">
									<%= education.city %> — <i><%= education.degree %></i>
								</span>
							</div>
							<div class="is-size-7 tag is-primary"><%= education.period %></div>
							<div><%= education.faculty %></div>
						</div>
						<% }); %>
					</div>
				</div>
				<div class="column">
					<div class="projects">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							PROJECTS
						</div>

						<% content.data.projects.forEach(function(proj){ %>
						<div class="item">
							<div class="is-size-5">
								<b><%= proj.title %></b>
								—
								<i><%= proj.company %></i>
							</div>
							<div class="is-size-7 tag is-primary"><%= proj.period %></div>
						</div>
						<% }); %>
					</div>

					<div class="skills">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							SKILLS
						</div>
						<div class="wrapper">
							<% content.data.skills.forEach(function(skill){ %>
							<div class="item">
								<div><%= skill.name %></div>
							</div>
							<% }); %>
						</div>
					</div>

					<div class="languages">
						<div class="title is-size-5 has-text-primary has-text-weight-bold">
							LANGUAGES
						</div>
						<div class="wrapper">
							<%= content.data.languages.join(', ') %>
						</div>
					</div>

					<div class="ads-square">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle" style="display: block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z"
							data-ad-client="ca-pub-5442972248172818" data-ad-slot="9533807764"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="content has-text-centered">
			<a href="<%= content.config.publicPath %>/light">See Light Theme</a>
			<br />
			Copyright © 2018-2019 by
			<a href="https://mazipan.space">Irfan Maulana</a>
		</div>
	</footer>

	<footer class="line has-background-primary"></footer>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Horizontal Ads Banner -->
	<ins class="adsbygoogle" style="display: inline-block; width: 728px; height: 90px"
		data-ad-client="ca-pub-5442972248172818" data-ad-slot="7319719723"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	<% include /jsonLd %>
</body>

</html>
